@font-face {
    font-family: 'TopazPlus';
    src: url('TopazPlus.woff2') format('woff2'),
        url('TopazPlus.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
